# Configuration
.env
**/.env
.env.release
**/.env.release
migrations/flyway.conf
pds-dev-f65b3-firebase-adminsdk-dr4fd-a56972c48a.json
ssl_certificate.crt

# Depedencies
/vendor/
/venv/

# Output
/bin/release/
/bin/debug/

# IDEs
/.idea/
/.vscode/

# Misc
*.bak
/.tmp/
.DS_Store
